In [1]:
#from config import key_dict
#gkey= key_dict['KEY NAME GOES HERE']




### Imports
import pandas as pd
import numpy as pp



edu_data = "Resources/edu_impact.csv"

edu_data_df = pd.read_csv(edu_data)

edu_data_df.head()

         Date  ISO      Country      Status  Note
0  16/02/2020  ABW        Aruba  Fully open   NaN
1  16/02/2020  AFG  Afghanistan  Fully open   NaN
2  16/02/2020  AGO       Angola  Fully open   NaN
3  16/02/2020  AIA     Anguilla  Fully open   NaN
4  16/02/2020  ALB      Albania  Fully open   NaN