In [17]:
import json
import requests
import pandas as pd
from config import key_dict
from pprint import pprint
api_key = key_dict['oiko_weather']


#load hundred_city_df
hundred_city_df = pd.read_csv (r'Resources\100_countiesdata.csv')
#clean up hundred_city_df
hundred_city_df = hundred_city_df.drop(labels=["county_ascii"],axis=1)
hundred_city_df.rename(columns={"county_x":"county"},inplace=True)
#create weather_df
column_names=['county','state_name','county_fips','state_id','lat','lng','population']
weather_df = pd.DataFrame(columns = column_names)
weather_df, hundred_city_df

(Empty DataFrame
 Columns: [county, state_name, county_fips, state_id, lat, lng, population]
 Index: [],
        FIPS      county  county_fips state_id    state_name      lat  \
 0   31117.0   McPherson        31117       NE      Nebraska  41.5682
 1   31105.0     Kimball        31105       NE      Nebraska  41.1978
 2   27013.0  Blue Earth        27013       MN     Minnesota  44.0346
 3   41015.0       Curry        41015       OR        Oregon  42.4576
 4   41033.0   Josephine        41033       OR        Oregon  42.3655
 ..      ...         ...          ...      ...           ...      ...
 95   8089.0       Otero         8089       CO      Colorado  37.9026
 96  42031.0     Clarion        42031       PA  Pennsylvania  41.1924
 97  16041.0    Franklin        16041       ID         Idaho  42.1811
 98  53031.0   Jefferson        53031       WA    Washington  47.7489
 99  50023.0  Washington        50023       VT       Vermont  44.2734

          lng  population
 0  -101.0605         395
 1  -103.7149        3633
 2   -94.0670       66795
 3  -124.1568       22650
 4  -123.5555       86251
 ..       ...         ...
 95 -103.7165       18282
 96  -79.4210       38715
 97 -111.8132       13464
 98 -123.5952       31285
 99  -72.6149       58350

 [100 rows x 8 columns])

In [30]:
### THIS IS THE REAL DEAL API CALL
for index, row in hundred_city_df.iterrows():
    #print(row)
    lat = row['lat']
    lng = row['lng']
    county_fips = row['county_fips']
    county = row['county']
    state = row['state_name']
    state_id = row['state_id']
    population = row['population']
    ###---  The Request!!!
    r = requests.get('https://api.oikolab.com/weather',
                     params={'param': ['temperature','wind_speed','surface_solar_radiation',
                                       'total_cloud_cover', 'total_precipitation',
                                       'relative_humidity'],
                             'start': '2020-01-21',
                             'end': '2021-03-17',
                             'freq':"D",
                             'lat': lat,
                             'lon': lng,
                             'api-key': api_key})                 
    ## store json resonse per call in weather_df
    #print(index, row, r)
    weather_data = json.loads(r.json()['data'])
    #make a temp dataframe to pass the data
    temp_df = pd.DataFrame(
                  index=pd.to_datetime(weather_data['index'],unit='s'),
                  data=weather_data['data'],
                  columns=weather_data['columns'])
    temp_df.reset_index(inplace=True)
    temp_df = temp_df.rename(columns={'index':'date'})
    print(temp_df)
                
    #append the weather data to weather_df
    weather_df = weather_df.append(
                    other=temp_df,
                    ignore_index=True)
    #assign county, state, county_fips, state_id, and date to weather dataframe
    weather_df.loc[index, 'county'] = county
    weather_df.loc[index, 'state_name'] = state
    weather_df.loc[index, 'county_fips'] = county_fips
    weather_df.loc[index, 'state_id'] = state_id
    weather_df.loc[index, 'population'] = population
    weather_df.loc[index, 'lat'] = lat
    weather_df.loc[index, 'lng'] = lng
    break
weather_df

          date  temperature (degC)  wind_speed (m/s)  \
0   2020-01-21                2.46              2.38
1   2020-01-22                1.88              7.77
2   2020-01-23               -1.02              2.80
3   2020-01-24                1.36              1.80
4   2020-01-25                2.96              3.63
..         ...                 ...               ...
417 2021-03-13                2.72              9.64
418 2021-03-14                1.68              2.38
419 2021-03-15                2.00              2.02
420 2021-03-16                0.88              5.49
421 2021-03-17                3.07              7.30

     surface_solar_radiation (W/m^2)  total_cloud_cover (0-1)  \
0                                101                     0.84
1                                 98                     0.70
2                                118                     0.44
3                                126                     0.41
4                                125                     0.31
..                               ...                      ...
417                               35                     1.00
418                              155                     0.97
419                              145                     0.94
420                              145                     0.55
421                              124                     0.84

     total_precipitation (mm of water equivalent)  relative_humidity (0-1)
0                                            0.00                     0.65
1                                            0.02                     0.66
2                                            0.00                     0.78
3                                            0.00                     0.67
4                                            0.00                     0.65
..                                            ...                      ...
417                                          0.00                     0.96
418                                          0.00                     0.81
419                                          0.00                     0.80
420                                          0.00                     0.72
421                                          0.00                     0.67

[422 rows x 7 columns]

,county,state_name,county_fips,state_id,lat,lng,population,date,temperature (degC),wind_speed (m/s),surface_solar_radiation (W/m^2),total_cloud_cover (0-1),total_precipitation (mm of water equivalent),relative_humidity (0-1)
0,McPherson,Nebraska,31117,NE,41.5682,-101.061,395,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,Kimball,Nebraska,31105,NE,41.1978,-103.715,3633,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,Blue Earth,Minnesota,27013,MN,44.0346,-94.067,66795,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,Curry,Oregon,41015,OR,42.4576,-124.157,22650,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2.46,2.38,101.0,0.84,0.0,0.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-13 00:00:00,2.72,9.64,35.0,1.00,0.0,0.96
844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-14 00:00:00,1.68,2.38,155.0,0.97,0.0,0.81
845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-15 00:00:00,2.00,2.02,145.0,0.94,0.0,0.80
846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-16 00:00:00,0.88,5.49,145.0,0.55,0.0,0.72
847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-17 00:00:00,3.07,7.30,124.0,0.84,0.0,0.67

In [42]:
### Example Weather API Call
# for index, row in hundred_city_df.iterrows():
#     #print(row)
#     lat = row['lat']
#     lng = row['lng']
#     county_fips = row['county_fips']
#     county = row['county']
#     state = row['state']
#     state_id = row['state_id']
#     population = row['population']
#     #the request
#     r = requests.get('https://api.oikolab.com/weather',
#                      params={'param': ['temperature'
#                                         ],
#                              'start': '2020-01-21',
#                              'end': '2021-03-17',
#                              'freq':"D",
#                              'lat': lat,
#                              'lon': lng,
#                              'api-key': api_key})                 
    ## store json resonse per call in weather_df
#     print(r)
#     weather_data = json.loads(r.json()['data'])
#     weather_df.loc[index, 'temperature' ] = weather_data['data'][0]
#     weather_df.loc[index, 'urban_temperature'] = weather_data['data'][1]
#     weather_df.loc[index, 'skin_temperature'] = weather_data['data'][2]
#     weather_df.loc[index, 'wind_speed'] = weather_data['data'][3]
#     weather_df.loc[index, 'surface_solar_radiation'] = weather_data['data'][4]
#     weather_df.loc[index, 'total_cloud_cover'] = weather_data['data'][5]
#     weather_df.loc[index, 'total_precipitation'] = weather_data['data'][6]
#     weather_df.loc[index, 'relative_humidity'] = weather_data['data'][7]
#     weather_df.loc[index, 'county'] = county
#     weather_df.loc[index, 'state'] = state
#     weather_df.loc[index, 'county_fips'] = county_fips
#     weather_df.loc[index, 'state_id'] = state_id
    
#     break
# weather_df
#weather_df.to_csv('weather.csv', index=False)
#nested for loop
#for each call, loop over temperature and dates.

<Response [200]>

,county,state,county_fips,state_id,lat,lng,population,temperature,urban_temperature,skin_temperature,wind_speed,surface_solar_radiation,total_cloud_cover,total_precipitation,relative_humidity
0,Chowan,North Carolina,37041,NC,NaN,NaN,NaN,[1.95],[4.73],[10.43],[14.05],[7.78],[6.86],[8.14],[5.26]

In [41]:
json.loads(r.json()['data'])

{'columns': ['temperature (degC)'],
 'index': [1579564800,
  1579651200,
  1579737600,
  1579824000,
  1579910400,
  1579996800,
  1580083200,
  1580169600,
  1580256000,
  1580342400,
  1580428800,
  1580515200,
  1580601600,
  1580688000,
  1580774400,
  1580860800,
  1580947200,
  1581033600,
  1581120000,
  1581206400,
  1581292800,
  1581379200,
  1581465600,
  1581552000,
  1581638400,
  1581724800,
  1581811200,
  1581897600,
  1581984000,
  1582070400,
  1582156800,
  1582243200,
  1582329600,
  1582416000,
  1582502400,
  1582588800,
  1582675200,
  1582761600,
  1582848000,
  1582934400,
  1583020800,
  1583107200,
  1583193600,
  1583280000,
  1583366400,
  1583452800,
  1583539200,
  1583625600,
  1583712000,
  1583798400,
  1583884800,
  1583971200,
  1584057600,
  1584144000,
  1584230400,
  1584316800,
  1584403200,
  1584489600,
  1584576000,
  1584662400,
  1584748800,
  1584835200,
  1584921600,
  1585008000,
  1585094400,
  1585180800,
  1585267200,
  1585353600,
  1585440000,
  1585526400,
  1585612800,
  1585699200,
  1585785600,
  1585872000,
  1585958400,
  1586044800,
  1586131200,
  1586217600,
  1586304000,
  1586390400,
  1586476800,
  1586563200,
  1586649600,
  1586736000,
  1586822400,
  1586908800,
  1586995200,
  1587081600,
  1587168000,
  1587254400,
  1587340800,
  1587427200,
  1587513600,
  1587600000,
  1587686400,
  1587772800,
  1587859200,
  1587945600,
  1588032000,
  1588118400,
  1588204800,
  1588291200,
  1588377600,
  1588464000,
  1588550400,
  1588636800,
  1588723200,
  1588809600,
  1588896000,
  1588982400,
  1589068800,
  1589155200,
  1589241600,
  1589328000,
  1589414400,
  1589500800,
  1589587200,
  1589673600,
  1589760000,
  1589846400,
  1589932800,
  1590019200,
  1590105600,
  1590192000,
  1590278400,
  1590364800,
  1590451200,
  1590537600,
  1590624000,
  1590710400,
  1590796800,
  1590883200,
  1590969600,
  1591056000,
  1591142400,
  1591228800,
  1591315200,
  1591401600,
  1591488000,
  1591574400,
  1591660800,
  1591747200,
  1591833600,
  1591920000,
  1592006400,
  1592092800,
  1592179200,
  1592265600,
  1592352000,
  1592438400,
  1592524800,
  1592611200,
  1592697600,
  1592784000,
  1592870400,
  1592956800,
  1593043200,
  1593129600,
  1593216000,
  1593302400,
  1593388800,
  1593475200,
  1593561600,
  1593648000,
  1593734400,
  1593820800,
  1593907200,
  1593993600,
  1594080000,
  1594166400,
  1594252800,
  1594339200,
  1594425600,
  1594512000,
  1594598400,
  1594684800,
  1594771200,
  1594857600,
  1594944000,
  1595030400,
  1595116800,
  1595203200,
  1595289600,
  1595376000,
  1595462400,
  1595548800,
  1595635200,
  1595721600,
  1595808000,
  1595894400,
  1595980800,
  1596067200,
  1596153600,
  1596240000,
  1596326400,
  1596412800,
  1596499200,
  1596585600,
  1596672000,
  1596758400,
  1596844800,
  1596931200,
  1597017600,
  1597104000,
  1597190400,
  1597276800,
  1597363200,
  1597449600,
  1597536000,
  1597622400,
  1597708800,
  1597795200,
  1597881600,
  1597968000,
  1598054400,
  1598140800,
  1598227200,
  1598313600,
  1598400000,
  1598486400,
  1598572800,
  1598659200,
  1598745600,
  1598832000,
  1598918400,
  1599004800,
  1599091200,
  1599177600,
  1599264000,
  1599350400,
  1599436800,
  1599523200,
  1599609600,
  1599696000,
  1599782400,
  1599868800,
  1599955200,
  1600041600,
  1600128000,
  1600214400,
  1600300800,
  1600387200,
  1600473600,
  1600560000,
  1600646400,
  1600732800,
  1600819200,
  1600905600,
  1600992000,
  1601078400,
  1601164800,
  1601251200,
  1601337600,
  1601424000,
  1601510400,
  1601596800,
  1601683200,
  1601769600,
  1601856000,
  1601942400,
  1602028800,
  1602115200,
  1602201600,
  1602288000,
  1602374400,
  1602460800,
  1602547200,
  1602633600,
  1602720000,
  1602806400,
  1602892800,
  1602979200,
  1603065600,
  1603152000,
  1603238400,
  1603324800,
  1603411200,
  1603497600,
  1603584000,
  1603670400,
  1603756800,
  1603843200,
  1603929600,
  1604016000,
  1604102400,
  1604188800,
  1604275200,
  1604361600,
  1604448000,
  1604534400,
  1604620800,
  1604707200,
  1604793600,
  1604880000,
  1604966400,
  1605052800,
  1605139200,
  1605225600,
  1605312000,
  1605398400,
  1605484800,
  1605571200,
  1605657600,
  1605744000,
  1605830400,
  1605916800,
  1606003200,
  1606089600,
  1606176000,
  1606262400,
  1606348800,
  1606435200,
  1606521600,
  1606608000,
  1606694400,
  1606780800,
  1606867200,
  1606953600,
  1607040000,
  1607126400,
  1607212800,
  1607299200,
  1607385600,
  1607472000,
  1607558400,
  1607644800,
  1607731200,
  1607817600,
  1607904000,
  1607990400,
  1608076800,
  1608163200,
  1608249600,
  1608336000,
  1608422400,
  1608508800,
  1608595200,
  1608681600,
  1608768000,
  1608854400,
  1608940800,
  1609027200,
  1609113600,
  1609200000,
  1609286400,
  1609372800,
  1609459200,
  1609545600,
  1609632000,
  1609718400,
  1609804800,
  1609891200,
  1609977600,
  1610064000,
  1610150400,
  1610236800,
  1610323200,
  1610409600,
  1610496000,
  1610582400,
  1610668800,
  1610755200,
  1610841600,
  1610928000,
  1611014400,
  1611100800,
  1611187200,
  1611273600,
  1611360000,
  1611446400,
  1611532800,
  1611619200,
  1611705600,
  1611792000,
  1611878400,
  1611964800,
  1612051200,
  1612137600,
  1612224000,
  1612310400,
  1612396800,
  1612483200,
  1612569600,
  1612656000,
  1612742400,
  1612828800,
  1612915200,
  1613001600,
  1613088000,
  1613174400,
  1613260800,
  1613347200,
  1613433600,
  1613520000,
  1613606400,
  1613692800,
  1613779200,
  1613865600,
  1613952000,
  1614038400,
  1614124800,
  1614211200,
  1614297600,
  1614384000,
  1614470400,
  1614556800,
  1614643200,
  1614729600,
  1614816000,
  1614902400,
  1614988800,
  1615075200,
  1615161600,
  1615248000,
  1615334400,
  1615420800,
  1615507200,
  1615593600,
  1615680000,
  1615766400,
  1615852800,
  1615939200],
 'data': [[1.95],
  [4.73],
  [10.43],
  [14.05],
  [7.78],
  [6.86],
  [8.14],
  [5.26],
  [5.51],
  [6.38],
  [7.8],
  [8.45],
  [14.49],
  [16.63],
  [17.34],
  [16.74],
  [16.69],
  [5.86],
  [6.34],
  [9.86],
  [18.51],
  [13.61],
  [16.43],
  [11.59],
  [2.75],
  [5.01],
  [9.86],
  [9.47],
  [12.02],
  [5.61],
  [0.81],
  [0.97],
  [5.78],
  [8.44],
  [12.92],
  [15.53],
  [10.8],
  [5.96],
  [6.39],
  [4.5],
  [9.98],
  [16.01],
  [14.79],
  [11.46],
  [9.61],
  [8.62],
  [7.23],
  [11.43],
  [16.74],
  [17.49],
  [16.69],
  [19.51],
  [16.38],
  [10.8],
  [10.06],
  [11.11],
  [14.76],
  [18.37],
  [23.74],
  [18.85],
  [10.29],
  [11.02],
  [12.24],
  [11.37],
  [11.13],
  [16.76],
  [20.59],
  [23.16],
  [22.88],
  [14.15],
  [9.25],
  [11.48],
  [14.21],
  [12.45],
  [12.19],
  [16.32],
  [17.04],
  [21.72],
  [20.47],
  [14.5],
  [10.82],
  [15.84],
  [21.74],
  [17.8],
  [9.87],
  [10.45],
  [13.13],
  [17.44],
  [13.38],
  [15.3],
  [14.27],
  [15.23],
  [15.15],
  [20.11],
  [14.27],
  [17.75],
  [15.12],
  [13.95],
  [19.93],
  [20.17],
  [16.28],
  [16.42],
  [20.78],
  [23.54],
  [16.05],
  [15.29],
  [13.56],
  [15.46],
  [12.04],
  [12.23],
  [16.72],
  [13.21],
  [14.19],
  [17.71],
  [21.65],
  [23.49],
  [22.58],
  [19.79],
  [16.76],
  [15.59],
  [19.03],
  [23.13],
  [23.99],
  [21.51],
  [18.95],
  [19.56],
  [22.33],
  [24.9],
  [24.63],
  [24.52],
  [21.94],
  [18.57],
  [20.26],
  [26.02],
  [27.59],
  [25.57],
  [26.09],
  [25.82],
  [23.94],
  [25.65],
  [26.22],
  [25.62],
  [23.33],
  [21.67],
  [20.16],
  [18.11],
  [18.51],
  [21.64],
  [22.54],
  [23.46],
  [23.42],
  [23.74],
  [26.42],
  [26.88],
  [27.52],
  [25.19],
  [25.76],
  [26.93],
  [27.68],
  [27.48],
  [26.8],
  [25.94],
  [25.38],
  [27.6],
  [28.13],
  [26.36],
  [27.44],
  [26.4],
  [25.94],
  [26.73],
  [27.35],
  [27.58],
  [28.32],
  [26.83],
  [26.38],
  [27.28],
  [26.51],
  [27.68],
  [28.74],
  [28.94],
  [30.56],
  [30.19],
  [29.35],
  [29.04],
  [27.31],
  [27.51],
  [29.23],
  [30.07],
  [30.02],
  [26.87],
  [27.65],
  [29.2],
  [27.86],
  [28.32],
  [27.2],
  [26.65],
  [27.73],
  [26.75],
  [25.63],
  [25.98],
  [26.21],
  [27.0],
  [27.24],
  [27.46],
  [27.05],
  [26.25],
  [26.07],
  [24.74],
  [24.29],
  [26.02],
  [25.64],
  [25.23],
  [25.02],
  [26.36],
  [27.34],
  [26.32],
  [28.43],
  [27.98],
  [27.6],
  [29.81],
  [28.45],
  [27.42],
  [25.79],
  [26.43],
  [27.51],
  [30.09],
  [29.73],
  [26.31],
  [23.46],
  [22.79],
  [24.29],
  [25.81],
  [26.49],
  [25.96],
  [24.66],
  [23.77],
  [24.77],
  [21.3],
  [20.73],
  [21.7],
  [22.59],
  [18.65],
  [17.51],
  [16.62],
  [16.42],
  [16.87],
  [17.96],
  [19.3],
  [22.63],
  [21.94],
  [23.04],
  [23.71],
  [20.43],
  [18.97],
  [18.63],
  [16.36],
  [16.37],
  [17.31],
  [16.65],
  [20.16],
  [21.69],
  [18.43],
  [20.22],
  [20.86],
  [23.04],
  [21.12],
  [19.03],
  [18.28],
  [19.79],
  [13.91],
  [14.63],
  [17.9],
  [19.83],
  [21.64],
  [20.67],
  [20.16],
  [20.71],
  [18.97],
  [16.77],
  [17.55],
  [19.77],
  [22.69],
  [19.13],
  [12.48],
  [13.97],
  [10.09],
  [9.51],
  [11.3],
  [14.72],
  [17.2],
  [17.74],
  [18.0],
  [18.38],
  [19.49],
  [22.3],
  [21.82],
  [15.29],
  [13.83],
  [15.79],
  [16.4],
  [11.08],
  [7.02],
  [5.84],
  [10.27],
  [13.87],
  [13.35],
  [16.22],
  [8.52],
  [9.72],
  [18.39],
  [16.88],
  [13.62],
  [10.5],
  [18.47],
  [10.88],
  [5.45],
  [5.65],
  [10.13],
  [13.22],
  [7.11],
  [5.54],
  [3.35],
  [2.99],
  [6.31],
  [9.18],
  [14.47],
  [16.31],
  [13.17],
  [4.95],
  [7.07],
  [5.96],
  [4.06],
  [2.54],
  [3.45],
  [7.11],
  [8.76],
  [5.06],
  [13.98],
  [10.53],
  [-0.34],
  [1.71],
  [6.07],
  [6.75],
  [4.37],
  [13.58],
  [9.75],
  [15.07],
  [12.46],
  [7.75],
  [6.19],
  [5.92],
  [3.38],
  [4.88],
  [3.36],
  [3.8],
  [2.9],
  [6.39],
  [3.73],
  [6.8],
  [6.67],
  [8.14],
  [4.97],
  [5.98],
  [5.59],
  [8.48],
  [5.94],
  [8.67],
  [4.98],
  [0.98],
  [4.96],
  [6.92],
  [8.95],
  [2.86],
  [-0.58],
  [-0.97],
  [2.84],
  [3.83],
  [2.41],
  [3.79],
  [4.17],
  [7.64],
  [7.17],
  [5.51],
  [3.87],
  [8.85],
  [7.5],
  [6.24],
  [3.46],
  [3.9],
  [3.35],
  [5.06],
  [14.33],
  [5.35],
  [3.41],
  [2.54],
  [2.13],
  [0.52],
  [5.11],
  [8.69],
  [11.09],
  [12.96],
  [7.72],
  [12.53],
  [14.69],
  [17.56],
  [9.03],
  [7.17],
  [10.03],
  [6.3],
  [5.47],
  [5.54],
  [5.05],
  [9.31],
  [13.64],
  [15.42],
  [17.87],
  [16.2],
  [12.08],
  [9.99],
  [5.18],
  [9.36],
  [10.27]]}

<Response [200]>

'{"title": "Location not specified", "description": "Please check the location parameters", "link": {"text": "Documentation related to this error", "href": "https://oikolab.com/api-details#api=weather&operation=weather-data", "rel": "help"}}'