In [24]:
import os
import pandas as pd

covid_df = pd.read_csv("coviddata.csv", encoding="utf-8")
covid_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [43]:
fips= covid_df["fips"].unique()
fips_df = pd.DataFrame({"FIPS":fips})
fips_df

         FIPS
0     53061.0
1     17031.0
2      6059.0
3      4013.0
4      6037.0
...       ...
3214  48269.0
3215   2230.0
3216  32009.0
3217  48301.0
3218  15005.0

[3219 rows x 1 columns]

In [44]:
fips100_df=covid_df.sample(n=100,axis='rows')
# counties100_df["fips"].value_counts().sort_values()
fips100_df

              date     county      state     fips  cases  deaths
576567  2020-09-28        Lee    Alabama   1081.0   5945    60.0
836868  2020-12-17    Carroll       Iowa  19027.0   2228    27.0
619695  2020-10-11    Elliott   Kentucky  21063.0     58     0.0
608913  2020-10-07   Waukesha  Wisconsin  55133.0   9178    94.0
381030  2020-07-29  Gasconade   Missouri  29073.0     14     0.0
...            ...        ...        ...      ...    ...     ...
93004   2020-04-27  Whitfield    Georgia  13313.0     69     4.0
912906  2021-01-09     Ottawa   Oklahoma  40115.0   3001    30.0
72558   2020-04-19   Duchesne       Utah  49013.0      5     0.0
127022  2020-05-08   New Kent   Virginia  51127.0     26     1.0
866653  2020-12-26       Pope  Minnesota  27121.0    680     3.0

[100 rows x 6 columns]

In [41]:
fips100_df.to_csv("100_counties.csv", index=False, header=True)

In [39]:
countydata_df= pd.read_csv("countydata.csv", encoding="utf-8")
countydata_df

,county,county_ascii,county_fips,state_id,state_name,lat,lng,population
0,Los Angeles,Los Angeles,6037,CA,California,34.3207,-118.2248,10081570
1,Cook,Cook,17031,IL,Illinois,41.8401,-87.8168,5198275
2,Harris,Harris,48201,TX,Texas,29.8577,-95.3936,4646630
3,Maricopa,Maricopa,4013,AZ,Arizona,33.3490,-112.4915,4328810
4,San Diego,San Diego,6073,CA,California,33.0341,-116.7353,3316073
...,...,...,...,...,...,...,...,...
3137,Arthur,Arthur,31005,NE,Nebraska,41.5689,-101.6958,427
3138,McPherson,McPherson,31117,NE,Nebraska,41.5682,-101.0605,395
3139,King,King,48269,TX,Texas,33.6166,-100.2558,237
3140,Loving,Loving,48301,TX,Texas,31.8493,-103.5799,98
3141,Kalawao,Kalawao,15005,HI,Hawaii,21.1709,-156.9475,66

In [42]:
counties100data = pd.merge(fips100_df,countydata_df, left_on ="fips", right_on = "county_fips" )
counties100data

,date,county_x,state,fips,cases,deaths,county_y,county_ascii,county_fips,state_id,state_name,lat,lng,population
0,2020-04-16,Frederick,Maryland,24021.0,504,29.0,Frederick,Frederick,24021,MD,Maryland,39.4722,-77.3980,251422
1,2020-07-31,Canadian,Oklahoma,40017.0,1009,5.0,Canadian,Canadian,40017,OK,Oklahoma,35.5424,-97.9824,140455
2,2020-05-30,Dyer,Tennessee,47045.0,50,0.0,Dyer,Dyer,47045,TN,Tennessee,36.0591,-89.4138,37416
3,2020-07-07,Bertie,North Carolina,37015.0,151,4.0,Bertie,Bertie,37015,NC,North Carolina,36.0662,-76.9787,19380
4,2020-08-01,Thomas,Kansas,20193.0,32,0.0,Thomas,Thomas,20193,KS,Kansas,39.3509,-101.0556,7810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,2020-09-25,Wadena,Minnesota,27159.0,68,0.0,Wadena,Wadena,27159,MN,Minnesota,46.5858,-94.9694,13654
94,2020-10-01,Crittenden,Arkansas,5035.0,1983,46.0,Crittenden,Crittenden,5035,AR,Arkansas,35.2079,-90.3089,48672
95,2020-08-03,Richland,South Carolina,45079.0,8040,141.0,Richland,Richland,45079,SC,South Carolina,34.0218,-80.9031,411357
96,2020-10-10,Pike,Mississippi,28113.0,1297,55.0,Pike,Pike,28113,MS,Mississippi,31.1749,-90.4042,39532
97,2021-02-14,Clarendon,South Carolina,45027.0,2808,91.0,Clarendon,Clarendon,45027,SC,South Carolina,33.6658,-80.2164,33957

In [45]:
counties100data.to_csv("100_countiesdata.csv", index=False, header=True)