In [3]:
import os
import pandas as pd

covid_df = pd.read_csv("us-counties.csv", encoding="utf-8")
covid_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [8]:
counties= covid_df["county"].unique()
counties_df = pd.DataFrame({"County":counties})
counties_df.head()

        County
0    Snohomish
1         Cook
2       Orange
3     Maricopa
4  Los Angeles

In [10]:
df=counties_df.sample(n=100,axis='rows')
df

                    County
155                Lowndes
161                Olmsted
592               Walworth
113               Monmouth
581                  Crane
...                    ...
1176                Murray
385               Onondaga
183                Pulaski
1088              Rockwall
74    District of Columbia

[100 rows x 1 columns]