In [3]:
import os
import pandas as pd

covid_df = pd.read_csv("us-counties.csv", encoding="utf-8")
covid_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [8]:
counties= covid_df["county"].unique()
counties_df = pd.DataFrame({"County":counties})
counties_df.head()

        County
0    Snohomish
1         Cook
2       Orange
3     Maricopa
4  Los Angeles

In [12]:
counties100_df=counties_df.sample(n=100,axis='rows')
counties100_df

            County
354            Kay
1581        Alpena
1084        Unicoi
284          Kauai
1580        Tensas
...            ...
355          Payne
5      Santa Clara
1909  Powder River
240         Butler
827        Wapello

[100 rows x 1 columns]

In [13]:
counties100_df.to_csv("100_counties.csv", index=False, header=True)