In [3]:
import os
import pandas as pd

covid_df = pd.read_csv("coviddata.csv", encoding="utf-8")
covid_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [5]:
fips= covid_df["fips"].unique()
fips_df = pd.DataFrame({"FIPS":fips})
fips_df

         FIPS
0     53061.0
1     17031.0
2      6059.0
3      4013.0
4      6037.0
...       ...
3214  48269.0
3215   2230.0
3216  32009.0
3217  48301.0
3218  15005.0

[3219 rows x 1 columns]

In [24]:
# fips100_df=fips_df.sample(n=101,axis='rows')
# # #counties100_df["fips"].value_counts().sort_values()
# fips100_df

         FIPS
3149  31117.0
2923  72137.0
2095  31105.0
444   27013.0
2445  41015.0
...       ...
1348   8089.0
1823  42031.0
3031  16041.0
71    53031.0
365   50023.0

[101 rows x 1 columns]

In [27]:
fips100_df.to_csv("100_counties.csv", index=False, header=True)

In [25]:
countydata_df= pd.read_csv("countydata.csv", encoding="utf-8")
countydata_df

,county,county_ascii,county_fips,state_id,state_name,lat,lng,population
0,Los Angeles,Los Angeles,6037,CA,California,34.3207,-118.2248,10081570
1,Cook,Cook,17031,IL,Illinois,41.8401,-87.8168,5198275
2,Harris,Harris,48201,TX,Texas,29.8577,-95.3936,4646630
3,Maricopa,Maricopa,4013,AZ,Arizona,33.3490,-112.4915,4328810
4,San Diego,San Diego,6073,CA,California,33.0341,-116.7353,3316073
...,...,...,...,...,...,...,...,...
3137,Arthur,Arthur,31005,NE,Nebraska,41.5689,-101.6958,427
3138,McPherson,McPherson,31117,NE,Nebraska,41.5682,-101.0605,395
3139,King,King,48269,TX,Texas,33.6166,-100.2558,237
3140,Loving,Loving,48301,TX,Texas,31.8493,-103.5799,98
3141,Kalawao,Kalawao,15005,HI,Hawaii,21.1709,-156.9475,66

In [28]:
fips100_df=pd.read_csv("100_counties.csv")

In [37]:
counties100data = pd.merge(fips100_df,countydata_df, left_on ="FIPS", right_on = "county_fips" )
counties100data.columns

Index(['FIPS', 'county', 'county_ascii', 'county_fips', 'state_id',
       'state_name', 'lat', 'lng', 'population'],
      dtype='object')

In [30]:
counties100data.to_csv("100_countiesdata.csv", index=False, header=True)

In [31]:
print(covid_df["date"].min())
print(covid_df["date"].max())

2020-01-21
2021-03-17

In [35]:
covid_100_df=covid_df[covid_df["fips"].isin(counties100data["FIPS"])]
covid_100_df.head()

               date     county          state     fips  cases  deaths
648      2020-03-06  Jefferson     Washington  53031.0      1     0.0
701      2020-03-07  Berkshire  Massachusetts  25003.0      1     0.0
742      2020-03-07  Jefferson     Washington  53031.0      1     0.0
803      2020-03-08  Berkshire  Massachusetts  25003.0      1     0.0
854      2020-03-08  Jefferson     Washington  53031.0      1     0.0
...             ...        ...            ...      ...    ...     ...
1131224  2021-03-17    Clallam     Washington  53009.0   1007     8.0
1131235  2021-03-17  Jefferson     Washington  53031.0    338     2.0
1131299  2021-03-17    Raleigh  West Virginia  54081.0   5018    66.0
1131360  2021-03-17      Pepin      Wisconsin  55091.0    836     7.0
1131383  2021-03-17   Waushara      Wisconsin  55137.0   2423    35.0

[34780 rows x 6 columns]

In [39]:
len(covid_100_df["fips"].unique())

100

In [44]:
covid_100_df2=pd.merge(covid_100_df,counties100data[['county_fips', 'state_id',
       'state_name', 'lat', 'lng', 'population']],left_on="fips",right_on="county_fips", how="left")
covid_100_df2

,date,county,state,fips,cases,deaths,county_fips,state_id,state_name,lat,lng,population
0,2020-03-06,Jefferson,Washington,53031.0,1,0.0,53031,WA,Washington,47.7489,-123.5952,31285
1,2020-03-07,Berkshire,Massachusetts,25003.0,1,0.0,25003,MA,Massachusetts,42.3707,-73.2064,126425
2,2020-03-07,Jefferson,Washington,53031.0,1,0.0,53031,WA,Washington,47.7489,-123.5952,31285
3,2020-03-08,Berkshire,Massachusetts,25003.0,1,0.0,25003,MA,Massachusetts,42.3707,-73.2064,126425
4,2020-03-08,Jefferson,Washington,53031.0,1,0.0,53031,WA,Washington,47.7489,-123.5952,31285
...,...,...,...,...,...,...,...,...,...,...,...,...
34775,2021-03-17,Clallam,Washington,53009.0,1007,8.0,53009,WA,Washington,48.0493,-123.9280,75392
34776,2021-03-17,Jefferson,Washington,53031.0,338,2.0,53031,WA,Washington,47.7489,-123.5952,31285
34777,2021-03-17,Raleigh,West Virginia,54081.0,5018,66.0,54081,WV,West Virginia,37.7714,-81.2486,75252
34778,2021-03-17,Pepin,Wisconsin,55091.0,836,7.0,55091,WI,Wisconsin,44.5829,-92.0016,7265
34779,2021-03-17,Waushara,Wisconsin,55137.0,2423,35.0,55137,WI,Wisconsin,44.1131,-89.2429,24193

In [45]:
covid_100_df2["Cases per 100k"]=covid_100_df2["cases"]/covid_100_df2["population"]*100000
covid_100_df2["Deaths per 100k"]=covid_100_df2["deaths"]/covid_100_df2["population"]*100000

In [46]:
covid_100_df2

,date,county,state,fips,cases,deaths,county_fips,state_id,state_name,lat,lng,population,Cases per 100k,Deaths per 100k
0,2020-03-06,Jefferson,Washington,53031.0,1,0.0,53031,WA,Washington,47.7489,-123.5952,31285,3.196420,0.000000
1,2020-03-07,Berkshire,Massachusetts,25003.0,1,0.0,25003,MA,Massachusetts,42.3707,-73.2064,126425,0.790983,0.000000
2,2020-03-07,Jefferson,Washington,53031.0,1,0.0,53031,WA,Washington,47.7489,-123.5952,31285,3.196420,0.000000
3,2020-03-08,Berkshire,Massachusetts,25003.0,1,0.0,25003,MA,Massachusetts,42.3707,-73.2064,126425,0.790983,0.000000
4,2020-03-08,Jefferson,Washington,53031.0,1,0.0,53031,WA,Washington,47.7489,-123.5952,31285,3.196420,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34775,2021-03-17,Clallam,Washington,53009.0,1007,8.0,53009,WA,Washington,48.0493,-123.9280,75392,1335.685484,10.611205
34776,2021-03-17,Jefferson,Washington,53031.0,338,2.0,53031,WA,Washington,47.7489,-123.5952,31285,1080.389963,6.392840
34777,2021-03-17,Raleigh,West Virginia,54081.0,5018,66.0,54081,WV,West Virginia,37.7714,-81.2486,75252,6668.261309,87.705310
34778,2021-03-17,Pepin,Wisconsin,55091.0,836,7.0,55091,WI,Wisconsin,44.5829,-92.0016,7265,11507.226428,96.352374
34779,2021-03-17,Waushara,Wisconsin,55137.0,2423,35.0,55137,WI,Wisconsin,44.1131,-89.2429,24193,10015.293680,144.669946

In [52]:
covid_df2=pd.merge(covid_df,countydata_df[['county_fips', 'state_id',
       'state_name', 'lat', 'lng', 'population']],left_on="fips",right_on="county_fips", how="left")
covid_df2["Cases per 100k"]=covid_df2["cases"]/covid_df2["population"]*100000
covid_df2["Deaths per 100k"]=covid_df2["deaths"]/covid_df2["population"]*100000
covid_df2

,date,county,state,fips,cases,deaths,county_fips,state_id,state_name,lat,lng,population,Cases per 100k,Deaths per 100k
0,2020-01-21,Snohomish,Washington,53061.0,1,0.0,53061.0,WA,Washington,48.0475,-121.6975,798808.0,0.125187,0.000000
1,2020-01-22,Snohomish,Washington,53061.0,1,0.0,53061.0,WA,Washington,48.0475,-121.6975,798808.0,0.125187,0.000000
2,2020-01-23,Snohomish,Washington,53061.0,1,0.0,53061.0,WA,Washington,48.0475,-121.6975,798808.0,0.125187,0.000000
3,2020-01-24,Cook,Illinois,17031.0,1,0.0,17031.0,IL,Illinois,41.8401,-87.8168,5198275.0,0.019237,0.000000
4,2020-01-24,Snohomish,Washington,53061.0,1,0.0,53061.0,WA,Washington,48.0475,-121.6975,798808.0,0.125187,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131404,2021-03-17,Sweetwater,Wyoming,56037.0,3909,36.0,56037.0,WY,Wyoming,41.6595,-108.8796,43521.0,8981.870821,82.718688
1131405,2021-03-17,Teton,Wyoming,56039.0,3484,9.0,56039.0,WY,Wyoming,43.9347,-110.5898,23280.0,14965.635739,38.659794
1131406,2021-03-17,Uinta,Wyoming,56041.0,2101,12.0,56041.0,WY,Wyoming,41.2876,-110.5476,20479.0,10259.290004,58.596611
1131407,2021-03-17,Washakie,Wyoming,56043.0,888,26.0,56043.0,WY,Wyoming,43.9050,-107.6827,8027.0,11062.663511,323.906815
1131408,2021-03-17,Weston,Wyoming,56045.0,631,5.0,56045.0,WY,Wyoming,43.8404,-104.5676,7049.0,8951.624344,70.932047