In [46]:
import os
import pandas as pd

covid_df = pd.read_csv("coviddata.csv", encoding="utf-8")
covid_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [43]:
fips= covid_df["fips"].unique()
fips_df = pd.DataFrame({"FIPS":fips})
fips_df

         FIPS
0     53061.0
1     17031.0
2      6059.0
3      4013.0
4      6037.0
...       ...
3214  48269.0
3215   2230.0
3216  32009.0
3217  48301.0
3218  15005.0

[3219 rows x 1 columns]

In [65]:
# fips100_df=covid_df.sample(n=102,axis='rows')
# # counties100_df["fips"].value_counts().sort_values()
# fips100_df

               date       county           state     fips  cases  deaths
591408   2020-10-02       Chowan  North Carolina  37041.0    386     4.0
840372   2020-12-18      Letcher        Kentucky  21133.0    814     3.0
200531   2020-06-02     Hamilton        Illinois  17065.0      2     0.0
371805   2020-07-26  Northampton  North Carolina  37131.0    256    16.0
992399   2021-02-03       Blaine           Idaho  16013.0   2003    14.0
...             ...          ...             ...      ...    ...     ...
831195   2020-12-15     Flathead         Montana  30029.0   8061    44.0
901021   2021-01-06     Randolph         Alabama   1111.0   1305    31.0
518110   2020-09-09      Kanawha   West Virginia  54039.0   1753    47.0
209472   2020-06-05      Brevard         Florida  12009.0    439    13.0
1005165  2021-02-07     Hamilton         Florida  12047.0   1527    18.0

[102 rows x 6 columns]

In [67]:
fips100_df.to_csv("100_counties.csv", index=False, header=True)

In [57]:
countydata_df= pd.read_csv("countydata.csv", encoding="utf-8")
countydata_df

,county,county_ascii,county_fips,state_id,state_name,lat,lng,population
0,Los Angeles,Los Angeles,6037,CA,California,34.3207,-118.2248,10081570
1,Cook,Cook,17031,IL,Illinois,41.8401,-87.8168,5198275
2,Harris,Harris,48201,TX,Texas,29.8577,-95.3936,4646630
3,Maricopa,Maricopa,4013,AZ,Arizona,33.3490,-112.4915,4328810
4,San Diego,San Diego,6073,CA,California,33.0341,-116.7353,3316073
...,...,...,...,...,...,...,...,...
3137,Arthur,Arthur,31005,NE,Nebraska,41.5689,-101.6958,427
3138,McPherson,McPherson,31117,NE,Nebraska,41.5682,-101.0605,395
3139,King,King,48269,TX,Texas,33.6166,-100.2558,237
3140,Loving,Loving,48301,TX,Texas,31.8493,-103.5799,98
3141,Kalawao,Kalawao,15005,HI,Hawaii,21.1709,-156.9475,66

In [66]:
counties100data = pd.merge(fips100_df,countydata_df, left_on ="fips", right_on = "county_fips" )
counties100data

,date,county_x,state,fips,cases,deaths,county_y,county_ascii,county_fips,state_id,state_name,lat,lng,population
0,2020-10-02,Chowan,North Carolina,37041.0,386,4.0,Chowan,Chowan,37041,NC,North Carolina,36.1508,-76.6079,14097
1,2020-12-18,Letcher,Kentucky,21133.0,814,3.0,Letcher,Letcher,21133,KY,Kentucky,37.1212,-82.8553,22295
2,2020-06-02,Hamilton,Illinois,17065.0,2,0.0,Hamilton,Hamilton,17065,IL,Illinois,38.0815,-88.5391,8176
3,2020-07-26,Northampton,North Carolina,37131.0,256,16.0,Northampton,Northampton,37131,NC,North Carolina,36.4178,-77.3969,19946
4,2021-02-03,Blaine,Idaho,16013.0,2003,14.0,Blaine,Blaine,16013,ID,Idaho,43.4119,-113.9802,22373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020-08-27,Traverse,Minnesota,27155.0,21,0.0,Traverse,Traverse,27155,MN,Minnesota,45.7722,-96.4716,3311
96,2020-12-15,Flathead,Montana,30029.0,8061,44.0,Flathead,Flathead,30029,MT,Montana,48.2951,-114.0497,99899
97,2021-01-06,Randolph,Alabama,1111.0,1305,31.0,Randolph,Randolph,1111,AL,Alabama,33.2938,-85.4591,22647
98,2020-09-09,Kanawha,West Virginia,54039.0,1753,47.0,Kanawha,Kanawha,54039,WV,West Virginia,38.3366,-81.5281,183279
99,2020-06-05,Brevard,Florida,12009.0,439,13.0,Brevard,Brevard,12009,FL,Florida,28.2937,-80.7323,585507

In [68]:
counties100data.to_csv("100_countiesdata.csv", index=False, header=True)